*~
*.o
*.a
*.exe
a.out

*.new
*.meta
*001-001

config.mk

.idea

*.csv
*.vtk
.vscode/c_cpp_properties.json
.vscode/tasks.json
microgel/microgel_poly_cross_density
microgel/extract_colloids
src/angle_dihedral.c:Zone.Identifier
src/angle_dihedral.h:Zone.Identifier
src/angle_harmonic.c:Zone.Identifier
src/angle_harmonic.h:Zone.Identifier
src/bond_harmonic.c:Zone.Identifier
src/bond_harmonic.h:Zone.Identifier
util/capillary
util/capillary.c
util/capillary.dat
util/coll_squ_subgrid_init
util/colloid_init
util/extract
util/extract_colloids
src/input
util/microgel_poly
util/microgel_poly_cross_density
util/microgel_poly_filled
util/microgel_poly_filled_old
util/multi_poly_init
util/polarizer
util/microgel_poly.c
util/microgel_poly_filled_ol.c
util/microgel_poly_filled.c
util/multi_poly_init.c
util/capillary.c
*.pvsm
microgel26-20k_1e-02_1.0/calculos.py
microgel26-20k_1e-02_1.0/calculosvel.py
microgel26-20k_1e-02_1.0/coloideacsv.sh
microgel26-20k_1e-02_1.0/config.cds.init.001-001-1 monomer
microgel26-20k_1e-02_1.0/config.cds.init.001-001-microgel
microgel26-20k_1e-02_1.0/del.sh
microgel26-20k_1e-02_1.0/extract_colloids
microgel26-20k_1e-02_1.0/input
microgel26-20k_1e-02_1.0/ludwig_redo.sh
microgel26-20k_1e-02_1.0/microgel_poly_cross_density
microgel26-20k_1e-02_1.0/microgel_redo.sh
microgel26-20k_1e-02_1.0/microgel_run.sh
microgel26-20k_1e-02_1.0/plot.py
microgel26-20k_1e-02_1.0/plotvel.py
microgel26-20k_1e-02_1.0/readme.txt
microgel26-20k_1e-02_1.0/run.sh
.gitignore
microgel26-50k_1e-03_1.0/calculos.py
microgel26-50k_1e-03_1.0/calculosvel.py
microgel26-50k_1e-03_1.0/coloideacsv.sh
microgel26-50k_1e-03_1.0/config.cds.init.001-001-1 monomer
microgel26-50k_1e-03_1.0/config.cds.init.001-001-microgel
microgel26-50k_1e-03_1.0/del.sh
microgel26-50k_1e-03_1.0/extract_colloids
microgel26-50k_1e-03_1.0/input
microgel26-50k_1e-03_1.0/ludwig_redo.sh
microgel26-50k_1e-03_1.0/microgel_poly_cross_density
microgel26-50k_1e-03_1.0/microgel_redo.sh
microgel26-50k_1e-03_1.0/microgel_run.sh
microgel26-50k_1e-03_1.0/plot.py
microgel26-50k_1e-03_1.0/plotvel.py
microgel26-50k_1e-03_1.0/readme.txt
microgel26-50k_1e-03_1.0/run.sh
microgel26-50k_1e-04_0.01/calculos.py
microgel26-50k_1e-04_0.01/calculosvel.py
microgel26-50k_1e-04_0.01/coloideacsv.sh
microgel26-50k_1e-04_0.01/config.cds.init.001-001-1 monomer
microgel26-50k_1e-04_0.01/config.cds.init.001-001-microgel
microgel26-50k_1e-04_0.01/del.sh
microgel26-50k_1e-04_0.01/extract_colloids
microgel26-50k_1e-04_0.01/input
microgel26-50k_1e-04_0.01/ludwig_redo.sh
microgel26-50k_1e-04_0.01/microgel_poly_cross_density
microgel26-50k_1e-04_0.01/microgel_redo.sh
microgel26-50k_1e-04_0.01/microgel_run.sh
microgel26-50k_1e-04_0.01/plot.py
microgel26-50k_1e-04_0.01/plotvel.py
microgel26-50k_1e-04_0.01/readme.txt
microgel26-50k_1e-04_0.01/run.sh
microgel26-100+10k_1e-03_0.0-1.0/calculos.py
microgel26-100+10k_1e-03_0.0-1.0/calculosvel.py
microgel26-100+10k_1e-03_0.0-1.0/coloideacsv.sh
microgel26-100+10k_1e-03_0.0-1.0/config.cds.init.001-001-1 monomer
microgel26-100+10k_1e-03_0.0-1.0/config.cds.init.001-001-microgel
microgel26-100+10k_1e-03_0.0-1.0/del.sh
microgel26-100+10k_1e-03_0.0-1.0/extract_colloids
microgel26-100+10k_1e-03_0.0-1.0/input
microgel26-100+10k_1e-03_0.0-1.0/ludwig_redo.sh
microgel26-100+10k_1e-03_0.0-1.0/microgel_poly_cross_density
microgel26-100+10k_1e-03_0.0-1.0/microgel_redo.sh
microgel26-100+10k_1e-03_0.0-1.0/microgel_run.sh
microgel26-100+10k_1e-03_0.0-1.0/plot.py
microgel26-100+10k_1e-03_0.0-1.0/plotvel.py
microgel26-100+10k_1e-03_0.0-1.0/readme.txt
microgel26-100+10k_1e-03_0.0-1.0/run.sh
microgel26-100k_1e-03_0.0/calculos.py
microgel26-100k_1e-03_0.0/calculosvel.py
microgel26-100k_1e-03_0.0/coloideacsv.sh
microgel26-100k_1e-03_0.0/config.cds.init.001-001-1 monomer
microgel26-100k_1e-03_0.0/config.cds.init.001-001-microgel
microgel26-100k_1e-03_0.0/del.sh
microgel26-100k_1e-03_0.0/extract_colloids
microgel26-100k_1e-03_0.0/input
microgel26-100k_1e-03_0.0/ludwig_redo.sh
microgel26-100k_1e-03_0.0/microgel_poly_cross_density
microgel26-100k_1e-03_0.0/microgel_redo.sh
microgel26-100k_1e-03_0.0/microgel_run.sh
microgel26-100k_1e-03_0.0/plot.py
microgel26-100k_1e-03_0.0/plotvel.py
microgel26-100k_1e-03_0.0/readme.txt
microgel26-100k_1e-03_0.0/run.sh
microgel26-60k_1e-03_0.1/calculos.py
microgel26-60k_1e-03_0.1/calculosvel.py
microgel26-60k_1e-03_0.1/coloideacsv.sh
microgel26-60k_1e-03_0.1/config.cds.init.001-001-1 monomer
microgel26-60k_1e-03_0.1/config.cds.init.001-001-microgel
microgel26-60k_1e-03_0.1/del.sh
microgel26-60k_1e-03_0.1/extract_colloids
microgel26-60k_1e-03_0.1/input
microgel26-60k_1e-03_0.1/ludwig_redo.sh
microgel26-60k_1e-03_0.1/microgel_poly_cross_density
microgel26-60k_1e-03_0.1/microgel_redo.sh
microgel26-60k_1e-03_0.1/microgel_run.sh
microgel26-60k_1e-03_0.1/plot.py
microgel26-60k_1e-03_0.1/plotvel.py
microgel26-60k_1e-03_0.1/readme.txt
microgel26-60k_1e-03_0.1/run.sh
.gitignore
microgel26-20k_1e-03_0.5/calculos.py
microgel26-20k_1e-03_0.5/calculosvel.py
microgel26-20k_1e-03_0.5/coloideacsv.sh
microgel26-20k_1e-03_0.5/config.cds.init.001-001-1 monomer
microgel26-20k_1e-03_0.5/config.cds.init.001-001-microgel
microgel26-20k_1e-03_0.5/del.sh
microgel26-20k_1e-03_0.5/extract_colloids
microgel26-20k_1e-03_0.5/input
microgel26-20k_1e-03_0.5/ludwig_redo.sh
microgel26-20k_1e-03_0.5/microgel_poly_cross_density
microgel26-20k_1e-03_0.5/microgel_redo.sh
microgel26-20k_1e-03_0.5/microgel_run.sh
microgel26-20k_1e-03_0.5/plot.py
microgel26-20k_1e-03_0.5/plotvel.py
microgel26-20k_1e-03_0.5/readme.txt
microgel26-20k_1e-03_0.5/run.sh
.vscode/launch.json
.gitignore
.gitignore
microgel26-500k_1e-05_1.0_0_0/calculos.py
microgel26-500k_1e-05_1.0_0_0/calculosvel.py
microgel26-500k_1e-05_1.0_0_0/coloideacsv.sh
microgel26-500k_1e-05_1.0_0_0/config.cds.init.001-001-1 monomer
microgel26-500k_1e-05_1.0_0_0/config.cds.init.001-001-microgel
microgel26-500k_1e-05_1.0_0_0/del.sh
microgel26-500k_1e-05_1.0_0_0/extract_colloids
microgel26-500k_1e-05_1.0_0_0/input
microgel26-500k_1e-05_1.0_0_0/ludwig_redo.sh
microgel26-500k_1e-05_1.0_0_0/microgel_poly_cross_density
microgel26-500k_1e-05_1.0_0_0/microgel_redo.sh
microgel26-500k_1e-05_1.0_0_0/microgel_run.sh
microgel26-500k_1e-05_1.0_0_0/plot.py
microgel26-500k_1e-05_1.0_0_0/plotvel.py
microgel26-500k_1e-05_1.0_0_0/readme.txt
microgel26-500k_1e-05_1.0_0_0/run.sh
microgel26-1000k_1e-03_0.1_0_0/calculos.py
microgel26-1000k_1e-03_0.1_0_0/calculosvel.py
microgel26-1000k_1e-03_0.1_0_0/coloideacsv.sh
microgel26-1000k_1e-03_0.1_0_0/config.cds.init.001-001-1 monomer
microgel26-1000k_1e-03_0.1_0_0/config.cds.init.001-001-microgel
microgel26-1000k_1e-03_0.1_0_0/del.sh
microgel26-1000k_1e-03_0.1_0_0/extract_colloids
microgel26-1000k_1e-03_0.1_0_0/input
microgel26-1000k_1e-03_0.1_0_0/ludwig_redo.sh
microgel26-1000k_1e-03_0.1_0_0/microgel_poly_cross_density
microgel26-1000k_1e-03_0.1_0_0/microgel_redo.sh
microgel26-1000k_1e-03_0.1_0_0/microgel_run.sh
microgel26-1000k_1e-03_0.1_0_0/plot.py
microgel26-1000k_1e-03_0.1_0_0/plotvel.py
microgel26-1000k_1e-03_0.1_0_0/readme.txt
microgel26-1000k_1e-03_0.1_0_0/run.sh
