*~
*.o
*.a
*.exe
a.out

*.new
*.meta
*001-001

config.mk

.idea

*.csv
*.vtk
.vscode/c_cpp_properties.json
.vscode/tasks.json
microgel/microgel_poly_cross_density
microgel/extract_colloids
src/angle_dihedral.c:Zone.Identifier
src/angle_dihedral.h:Zone.Identifier
src/angle_harmonic.c:Zone.Identifier
src/angle_harmonic.h:Zone.Identifier
src/bond_harmonic.c:Zone.Identifier
src/bond_harmonic.h:Zone.Identifier
util/capillary
util/capillary.c
util/capillary.dat
util/coll_squ_subgrid_init
util/colloid_init
util/extract
util/extract_colloids
src/input
util/microgel_poly
util/microgel_poly_cross_density
util/microgel_poly_filled
util/microgel_poly_filled_old
util/multi_poly_init
util/polarizer
util/microgel_poly.c
util/microgel_poly_filled_ol.c
util/microgel_poly_filled.c
util/multi_poly_init.c
util/capillary.c