*~
*.o
*.a
*.exe
a.out

*.new
*.meta
*001-001

.idea

*.csv
*.vtk
microgel/microgel_poly_cross_density
microgel/extract_colloids
util/capillary
util/capillary.dat
util/coll_squ_subgrid_init
util/colloid_init
util/extract
util/extract_colloids
src/input
util/microgel_poly
util/microgel_poly_cross_density
util/microgel_poly_filled
util/microgel_poly_filled_old
util/multi_poly_init
util/polarizer
*.pvsm
microgel/local/sim/*
microgel/local/graficos/*
microgel/local/__pycache__/*
microgel/local/scripts-old/*